* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 30px;
}

header {
    background-color: whitesmoke;
}

footer {
    background-color: white;
}
