* {
    box-sizing: border-box;
    margin: 0;
}

.leaflet-container {
    width: 800px;
    height: 400px;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 30px;
}

header {
    background-color: whitesmoke;
}

footer {
    background-color: white;
}

.profile-pic {
    width: 100px;
    height: 100px;
    float: right;
}

.searchPic {
    width: 200px;
    height: 100px;
}

img {
    width: 500px;
    height: 300px;
}

bio {
    font-size: 16px;
}
